body{
  background-image: url(img/загрузка.jpg);
}


.Header{
  display: flex;
  width: 100%;
  margin: 15px 0;
  position: relative;
}
.Header__img{
  width: 35%;
  border-radius: 50%;
  border: 5px solid #795548;
  overflow: hidden;
  background-position: center;
  background-size: contain;
}
.Header__info{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header__info p {
  width: 70%;
  font-weight: 500;
  font-size: 20px;
}


.Main_info{
  width: 100%;
}

.tablink,.close-btn {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1em;
  width: 22%;
}
.close-btn{
  width: 12%;
}


.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: black;
  display: none;
  padding: 50px;
}

#Composition {background-color: #fbe9e7;}
#Preparation {background-color: #e8f5e9;}
#Galary {background-color: #e3f2fd;}
#Video {background-color:#fff8e1;}

.Galery_img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.Galery_img-item{
  width: 25%;
  height: auto;
}
.Galery_img-item + .Galery_img-item{
  margin-left: 5px;
}
.Video__main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Video__main video{
  width: 50%;
  height: 20vh;
}
.Video__main p{
  margin-top: 10px;
}