.main_part {
  .caption {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    font-size: 22px;
    font-family: "Handelson Six_CYR";
    margin: 15px 0 5px;
    text-transform: uppercase;
  }
  h3 {
    font-family: "Handelson Six_CYR";
  }
  img {
    padding: 0;
    margin: 0;
  }
}
