main {
  .main_block {
    background-color: #ce93d8;
    box-sizing: border-box;
    margin: 0 1%;
    .caption_direction {
      height: 40px;
      margin: 10px 0 10px;
      width: 100%;
      color: white;
      background: linear-gradient(#f29797, #f8b43f);
      font-family: "Handelson Six_CYR";
      font-size: 1.5em;
      text-align: center;
    }
    .button_direction {
      margin-bottom: 3%;
      background: linear-gradient(to top, #e1f608, #ff8903);
      border-radius: 10px;
      height: 35px;
      width: 70%;
      border: none;
      font-family: "Handelson Six_CYR";
      text-align: center;
      line-height: 0.9em;
    }
    .picture_1 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/1.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
    }
    .picture_1:hover,
    .picture_1:focus {
      background-image: url(/assets/img/1.1.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_2 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
    }
    .picture_2:hover,
    .picture_2:focus {
      background-image: url(/assets/img/dir2.1.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_3 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir3.1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
    }
    .picture_3:hover,
    .picture_3:focus {
      background-image: url(/assets/img/dir3.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_4 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir4.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
    }
    .picture_4:hover,
    .picture_4:focus {
      background-image: url(/assets/img/dir4.1.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_5 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir5.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
    }
    .picture_5:hover,
    .picture_5:focus {
      background-image: url(/assets/img/dir5.1.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_6 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir6.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
    }
    .picture_6:hover,
    .picture_6:focus {
      background-image: url(/assets/img/dir6.1.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_7 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir7.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
    }
    .picture_7:hover,
    .picture_7:focus {
      background-image: url(/assets/img/dir7.1.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_8 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir8.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
    }
    .picture_8:hover,
    .picture_8:focus {
      background-image: url(/assets/img/dir8.1.jpg);
      button {
        color: #611b1b;
      }
    }
    .picture_9 {
      margin: 5px 0 5px;
      width: 100%;
      height: 300px;
      background-image: url(/assets/img/dir9.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
    }
    .picture_9:hover,
    .picture_9focus {
      background-image: url(/assets/img/dir9.1.jpg);
      button {
        color: #611b1b;
      }
    }
  }
}
