
.Main{
    background: var(--header);
    color: #fff;
}
.desk{
    display: block;
}
.mobile{
    display: none;
}
.Header{
    background: var(--main);
    color: var(--MainText);
    border-bottom: #fff 1px solid;
}
.NavBar{
    position: relative;
}
.NavBar__logo {
    margin: 20px 0;   
}

.NavBar__list {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
}


.NavBar__item + .NavBar__item{
    margin-left: 46px;
}

.NavBar__sosial-link + .NavBar__sosial-link{
    margin-left: 15px;
}
.NavBar__shop{
    position: relative;
}
.NavBar__shop-info{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #DE9362;
    width: 24px;
    z-index: 2;
    height: 24px;
    color:#fff;
    border-radius: 50%;
}
.NavBat__modile-btn{
    margin-left: 50px;
    display: none;
}
.btnMenu-1,.btnMenu-2,.btnMenu-3{
    width: 35px;
    height: 5px;
    background-color:var(--MainText);
    margin: 6px 0;
    transition: 0.4s;

}
.change .btnMenu-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.change .btnMenu-2 {opacity: 0;}
  
.change .btnMenu-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.NavBar__mobile{
    background-color: var(--main);
    display: none;
    transition: height 0.5s;
}
.NavBar__mobile-item  + .NavBar__mobile-item{
    margin-top: 10px;
}

.NavMenu__Mobile{
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 3;
    top: 0; 
    left: -250px;
    background-color: #000;
    color: var(--MainText);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
    padding-left: 30px;
}
.active_nav{
    width: 70%;
    left: 0;
}
#overlay
{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 0;
    background: #000;
    opacity: 40%;
}

.NavBar__Like{
    height: 40px;
    width: 40px;
}
.NavBar__Like-link{
    margin-right: 10px;
}
.closebtn__nav{
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 25px;
}


@media (max-width:1200px){
    .NavBar__list {
        font-size: 12px;
        line-height: 14px;
    }
}
@media (max-width: 992px){
    .NavBar__list {
        font-size: 11px;
        line-height: 13px;
    }
    .NavBar__item + .NavBar__item{
        margin-left: 7px;
    }
    .NavBar__shop-img{
        width: 25px;
    }
    .NavBar__shop-info{
        font-size: 10px;
        width: 14px;
        height: 14px;
        top: -7px;
        right: -5px;
    }
    .NavBar__sosial-link + .NavBar__sosial-link{
        margin-left: 5px;
    }
    .NavBar__Like {
        height: 26px;
        width: 26px;
    }
    .NavBar__Like-link{
        margin: 0 5px;
    }
}

@media (max-width: 768px){
    .NavBar__list{
        display: none;
    }
    .NavBat__modile-btn{
        display: block;
    }
    .NavBar__shop-img{
        width: 30px;
    }
    .desk{
        display: none;
    }
    .mobile{
        display: block;
    }
    .NavBar__mobile-list{
        font-size: 20px;
    }
    .NavBar__mobile-sosial{
        margin-top: 10px;
    }
    .NavBar__sosial-link + .NavBar__sosial-link{
        margin-left: 25px;
    }
    .NavBat__modile-btn{
        margin-left: 30px;
    }
    
    .footer-inner > p{
        font-size: 14px;
    }
    .footer-inner > img,.footer-inner > a > img{
        height: 50px;
    }
    .NavBar__Like {
        height: 30px;
        width: 30px;
    }
    .active_nav {
        width: 45%;
        left: 0;
    }
}
@media (max-width: 610px){
    .footer-inner{
        flex-direction: column;
        text-align: center;
    }
    .footer-inner >img, .footer-inner >p{
        margin-bottom: 10px;
    }
    .NavBar__mobile-list{
        font-size: 16px;
    }
}

@media (max-width: 480px){
    .NavBar__logo{
        width: 70%;
    }
    .NavBat__modile-btn{
        margin-left: 25px;
    }
    .active_nav {
        width: 70%;
        left: 0;
    }
}
.footer{
    color:var(--MainText);
    background: #000;
    border-top: var(--MainText) 1px solid;
    padding: 15px 0;
}
