@charset "UTF-8";
body {
  background-image: url(/assets/img/images.jpg); }
  body header nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  body header span {
    font-size: 22px;
    font-family: "Handelson Six_CYR";
    color: white;
    line-height: 0.687;
    text-align: center;
    text-shadow: 0px 2px 1.22px rgba(65, 65, 65, 0.24); }
  body header span:hover,
  body header span:focus {
    color: #611b1b; }
  @media screen and (max-width: 578px) {
    body header #MB_nav {
      display: auto; }
    body header #PC_nav {
      display: none; } }
  @media screen and (min-width: 578px) {
    body header #MB_nav {
      display: none; }
    body header #PC_nav {
      display: auto; } }
  body header .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    font-family: "Handelson Six_CYR"; }
    body header .dropdown .dropbtn {
      background-color: #e1bee7;
      color: white;
      height: 40px;
      font-size: 22px;
      border: none; }
    body header .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      body header .dropdown .dropdown-content a {
        color: black;
        padding: 2px 15px;
        text-decoration: none;
        display: block; }
      body header .dropdown .dropdown-content a:hover {
        background-color: #ddd; }
  body header .dropdown:hover .dropdown-content {
    display: block; }
  body header .dropdown:hover .dropbtn {
    color: #611b1b; }
  body header .lang {
    margin-top: 15px; }
    body header .lang a {
      margin: 0 10px 0; }
    body header .lang img {
      height: 25px;
      width: 25px;
      margin-bottom: 5px; }
  body main section {
    margin: 0 2%;
    background-color: #ce93d8; }
    body main section h3 {
      text-align: center; }
    body main section .info {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 2px;
      color: black;
      font-size: 14px;
      text-align: center; }
    body main section .caption_direction {
      height: 40px;
      margin: 0 0 10px;
      width: 100%;
      color: white;
      background: -webkit-gradient(linear, left top, left bottom, from(#f29797), to(#f8b43f));
      background: linear-gradient(#f29797, #f8b43f);
      font-family: "Handelson Six_CYR";
      text-align: center;
      font-size: large; }
      @media screen and (max-width: 450px) {
        body main section .caption_direction h2 {
          font-size: 22px;
          text-align: center; } }
    body main section .flip-box {
      background-color: transparent;
      width: 100%;
      height: 300px;
      -webkit-perspective: 1000px;
              perspective: 1000px; }
    body main section .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-transition: -webkit-transform 0.8s;
      transition: -webkit-transform 0.8s;
      transition: transform 0.8s;
      transition: transform 0.8s, -webkit-transform 0.8s;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
    body main section .flip-box:hover .flip-box-inner {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    body main section .flip-box-front,
    body main section .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    body main section .flip-box-front {
      color: black;
      overflow: hidden;
      border: 1px solid white; }
    body main section .flip-box-back {
      background-color: white;
      color: black;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
      body main section .flip-box-back p {
        text-align: justify;
        margin: 0 5px 0; }
    body main section .img_main {
      width: 100%;
      height: 100%; }
    body main section .img_block {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    body main section .label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 20%;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      font-family: "Handelson Six_CYR";
      -webkit-transition: -webkit-transform 0.8s;
      transition: -webkit-transform 0.8s;
      transition: transform 0.8s;
      transition: transform 0.8s, -webkit-transform 0.8s;
      text-align: center;
      overflow: hidden;
      outline: none;
      font-size: 24px; }
    body main section .workshop {
      overflow: hidden;
      height: 280px;
      margin: 10px auto 15px;
      -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      body main section .workshop .label {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 50px;
        height: 50px; }
        body main section .workshop .label span {
          font-size: 14px; }
      body main section .workshop .workshop_top {
        width: 100%;
        height: 300px;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transition: -webkit-transform 0.6s;
        transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        transition: transform 0.6s, -webkit-transform 0.6s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        border: solid 2px wheat; }
      body main section .workshop .workshop_top:hover,
      body main section .workshop .workshop_top:focus {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        border: solid 2px wheat; }
      body main section .workshop .workshop_bottom {
        width: 100%;
        height: 300px;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transition: -webkit-transform 0.6s;
        transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        transition: transform 0.6s, -webkit-transform 0.6s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        border: solid 2px wheat; }
      body main section .workshop .workshop_bottom:hover,
      body main section .workshop .workshop_bottom:focus {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        border: solid 2px wheat; }
    body main section .img_about {
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(/assets/img/студия-живописи.png);
      margin: 5px 0 10px; }
    body main section .textInfo hr {
      width: 25%;
      height: 4px; }
  body footer {
    margin-top: 5px;
    background-color: #ba68c8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    body footer .navBottom_l {
      list-style-type: none; }
    body footer a {
      text-decoration: none;
      font-family: "Handelson Six_CYR";
      color: black; }
    body footer a:hover,
    body footer a:focus {
      color: white;
      text-decoration: none; }
    body footer p {
      padding-top: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: justify;
      font-size: 14px;
      font-family: "Handelson Six_CYR";
      color: white; }
    body footer img {
      margin: 10px 5px 0;
      height: 40px;
      width: 40px; }

@media screen and (min-width: 1444px) {
  main section {
    font-size: xx-large; }

  footer p {
    font-size: xx-large; }

  header {
    font-size: xx-large; } }

/*# sourceMappingURL=main.css.map */